body{background-color:  #808080;}
.contenido{
    background-color: #d9d9d9;
    padding-right: 2%;
    height: 100%;
}
#pie{
    background-color: black;
    color: white;
    padding: 0.1em;
    margin-top: 0%;
    display: inline-block;
    position: relative;
    bottom: 0;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
:disabled, input:read-only, textarea:read-only{cursor: not-allowed;}
.control-label{font-weight: bold}