body{
    background-color:  #adebeb;
    height: 100%;
}
.contenido{
    background-color: lightblue;
    padding-right: 2%;
    /*height: 940px;*/
    position: relative;
}


#pie{
    background-color: #adebeb;
    color: black;
    /*padding: 0.1em;*/
    margin-top: 0%;
    display: inline-block;
    position: relative;
    bottom: 0;
    clear: bottom;
}
/*.footer{
    position: sticky;
    clear: bottom;
    bottom: 0;
    width: 100%;
    display: block;
    line-height: 10px;
    background-color: #f5f5f5;
}*/
@media screen and (min-height:10%) {
    #pie{
        width: 100%;
        background: black;
        border-top: 2px solid #000;
        position: sticky;
        bottom: 0;
        color: white;
    }
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.disabled, :disabled, input:read-only, textarea:read-only{cursor: not-allowed;}
.control-label{font-weight: bold}
.empresa:hover{transform: scale(1.3);}